body {
  font-family: var(--font-primary);
  font-weight: var(--font-regular);
  color: var(--gray);
  font-size: var(--font-size);
}

a {
  text-decoration: none;
  font-weight: var(--font-semi-bold);
  color: var(--blue);
  font-size: 1em;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
}
