.nx-blue {
  color: var(--blue);
}

.nx-pink {
  color: var(--pink);
}

.nx-black {
  color: var(--black);
}

.nx-yellow {
  color: var(--yellow);
}

.nx-white {
  color: var(--white);
}

.nx-blue-dark {
  color: var(--blue-dark);
}

.nx-blue-light {
  color: var(--blue-light);
}