:root {
  --blue: #0f8dba;
  --pink: #ee2c5a;
  --yellow: #ffc405;
  --black: #151515;
  --white: #f1f4f8;
  --gray: #495057;
  --gray-light: #666;
  // Home
  --blue-dark: #1544c0;
  --blue-light: #96ffca;
  // About
  --purple: #5210ac;

  --color-primary: var(--black);
  --color-background: var(--white);

  --font-title: 'Fira Sans Condensed', sans-serif;
  --font-primary: 'Catamaran', sans-serif;

  --font-size: 12px;

  --font-light: 300;
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  --max-width: 900px;
}
