:root {
  --blue: #0f8dba;
  --pink: #ee2c5a;
  --black: #242424;
  --gray: #5e6064;

  --color-primary: var(--black);

  --font-primary: 'Nunito', sans-serif;

  --font-light: 300;
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  --max-width: 900px;
}
