:root {
  --blue: #0f8dba;
  --pink: #ee2c5a;
  --gray: #5e6064;
  --black: #121212;
  --white: #fff;

  --color-primary: var(--white);
  --color-background: var(--black);

  --font-primary: 'Nunito', sans-serif;
  --font-size: 12px;

  --font-light: 300;
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  --max-width: 900px;
}
