.nx-light {
  font-weight: var(--font-light);
}

.nx-regular {
  font-weight: var(--font-regular);
}

.nx-semi-bold {
  font-weight: var(--font-semi-bold);
}

.nx-bold {
  font-weight: var(--font-bold);
}
